html, body {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .tabheader {
    display: flex;
    width: 100%;
  }
  
  .tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    flex: 1;
    text-align: center;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  .tabcontent {
    color: white;
    display: none;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #PerformingGround {background-color: red;}
  #MoreThanOneLessThanTwo {background-color: green;}
  #IntimacyWithStrangers {background-color: blue;}
  #BecomingFeral {background-color: orange;}
  #MoreThanHumanKin {background-color: purple;}
  #BeyondMachineVision {background-color: teal;}
  #DilutedAuthorship {background-color: pink;}
  #StitchNBitch {background-color: brown;}